body {
    background-color: lightblue;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center; color:cadetblue;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}